
<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link href="/css/chat.css" rel="stylesheet">
    <title>Chat</title>
  </head>
  <body>
    <% include ../partials/menu %>
    <div class="container-fluid">
      <div class="row">
        <ul id="messages"></ul>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <form action="">
              <div class="input-group">
                  <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Message..." aria-label="Message...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Send</button>
                  </span>
                </div>
            </form>
          </div>
        </div>
    </div>
    <% include ../partials/scripts %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</body>
</html>
