<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
    <title>Error</title>
  </head>
  <body class="text-center">
    <%if (error) { %>
      <pre>
        <%= error.stack %>
      </pre>
    <% } %>
  </body>
</html>
