form { padding: 20px; position: fixed; bottom: 0; width: 100%; padding-right: 50px;}
#messages { list-style-type: none; margin: 0; padding: 0; width: 100%; height: 200px; overflow-y: auto; }
#messages li, #feedback, .room { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee;}
#feedback p {
  font-weight: bold;
}
.roombadge {
  text-transform: capitalize;
}
#messages li.alert { margin: 10px; }